* {
    box-sizing: border-box;
}


.domainBox {
    background-color: white;
    border: 1px solid black;
    padding: 3px 0 0 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.buildings {
    float: left;
    width: 20%;
    background: #ccc;
    padding: 20px;
    height: auto;
    background-color: #eee;
}

.buildings ul {
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    height: 400px;
}

.items-list {
    padding: 3px 0px 0 0px;
    border-bottom: 0.5px solid black;
}

.table-content {
    float: left;
    padding: 20px;
    width: 80%;
/*    background-color: #f1f1f1;*/
    height: auto;
}

.dashboard::after {
    content: "";
    display: table;
    clear: both;
}

.dashboard {
    height: fit-content
}

.buildingsBox {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
/*    padding: 5px;*/
}

    ul li a:hover {
        background-color: #ccc;
    }

@media (max-width: 700px) {
    .buildings, .table-content {
        width: 100%;
        height: auto;
    }
}




.mailboxTitle {
    margin-right: 30px;
    width: auto;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 20px;
    /*    margin:0;*/
    width: 100%;
}

header {
    /*    flex: 0 0 100%;*/
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    /*    background-color: #351C15;*/
    color: white;
    background-color: #774f3c;
    margin-bottom: 25px;
}

#search {
/*    width: 100%;*/
    padding: 10px;
    margin: 10px 10px 20px 0;
    box-sizing: border-box;
    /*    border: none;*/
    border-radius: 5px;
    /*    margin-bottom: 20px;*/
    background-color: lightgrey;
    color: black;
}

input[type="text"] {
/*    width: 100%;*/
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.label {
/*    width: 100%;*/
}

.selectInput {
/*    width: 100%;*/
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.numberInput {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

aside {
    flex: 0 0 calc(25% - 20px);
/*    width: 100%;*/
/*    max-width: calc(25% - 10px);*/
    box-sizing: border-box;
    background-color: #eee;
    padding: 20px;
    height: fit-content;
}

.tableView {
    display: flex;
    flex: 0 0 calc(75% - 20px);
    max-width: calc(75% - 20px);
    box-sizing: border-box;
    /*    padding: 20px;*/
    background-color: #fff;
}
.inputDiv{
    display: inline;
    width:fit-content;
}
.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFB500;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    aside {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .buildings{
        width:100vw;
    }
    .tableView {
        width: 100vw;
        overflow-x: scroll;
    }
    main {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.disconnected {
    color: red;
}

.connected {
    color: green;
}

tr:hover {
    background-color: lightyellow;
}


.filterOpenButton {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
/*    width: 100%;*/
/*    text-align: left;*/
    border-radius: 5px;
/*    float: left;*/
}

.filterOpenButton:hover {
    background-color: grey;
    color: white;
}